@import './vars.css';

.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:3px;
}
.board .cell {
    display: grid;
    justify-content: center;
    align-content:center;
}
.marked {
    composes: cell;
    background: var(--darkBackgroundColor);
}
.unmarked {
    composes: cell;
    background: var(--lightBackgroundColor);
}