:root {
  --lighterBackgroundColor: #eee;
  --lightBackgroundColor: #ddd;
  --darkBackgroundColor: #ccc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#top-bar {
  background: var(--lightBackgroundColor);
  position: fixed;
  width:100%; height: 100px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  top:0;
  padding:0 30px;
  align-content: center;
}

#top-bar-menu {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-content: right;
  gap: 20px;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.group-dropdown:hover .dropdown-content {
  display: block;
  padding:10px;
}
.dropdown-content a {
  display: block;
  margin-bottom: 5px;
}

#top-bar-menu > a, .dropdown-button {
  text-decoration: none;
  color:black;
  background: var(--darkBackgroundColor);
  padding:3px 5px;
  height: auto;
  display: block;
}

#content {
  margin-top:100px;
}

/* account page */
#account-container {
  margin-top:50px;
  display: grid;
  padding:30px;
  grid-template-columns: minmax(300px, 1000px);
  justify-content: center;
}
#account-container #name-and-picture {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap:3px 20px;
  grid-template-areas: "image name"
                        "image email";
}
#account-container #name-and-picture img {
  border-radius: 50%;
  grid-area: image;
}
#account-container h2 {
  margin:0; margin-block: 0;
  align-self: end;
}

#account-container #options {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap:20px;
  margin-top:20px;
}

#account-container .option-group {
  background: var(--lightBackgroundColor);
  padding:20px;
}

#account-container #buttons {
  margin-top:20px;
  text-align: center;
  align-items: stretch;
}

#group-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: calc(100vh - 100px);
}
#group-container #group-main-content > * {
  display: grid;
  justify-content: center;
}
#group-container .sidebar {
  background: var(--lighterBackgroundColor);
  padding: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap:3px;
}
.board .cell {
  display: grid;
  justify-content: center;
  align-content:center;
}
.board .marked {
  background: var(--darkBackgroundColor);
}
.board .unmarked {
  background: var(--lightBackgroundColor);
}
#group-container .user-board {
  width:40vw;
  height: 40vw;
}
#group-container .friend-board {
  width:60px; height: 60px;
}
#group-container .friends-progress-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap:10px;
}
#group-container .button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#group-container .button-container button {
  border:0;
  background: var(--darkBackgroundColor);
  padding:20px 0;
}